Source: ocaml-json
Section: ocaml
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild, noweb,
 dh-ocaml (>= 0.9),
 ocaml-nox (>= 3.12),
 ocaml-findlib,
 libbaselib-ocaml-dev,
 libsexplib-camlp4-dev
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/json
Vcs-Git: git://github.com/pippijn/json
Vcs-Browser: https://github.com/pippijn/json

Package: libjson-camlp4
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Fast lexer generator compatible with ocamllex
 Stuff.

Package: libjson-camlp4-dev
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Fast lexer generator compatible with ocamllex
 Stuff.

Package: libjson-ocaml
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Fast lexer generator compatible with ocamllex
 Stuff.

Package: libjson-ocaml-dev
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Fast lexer generator compatible with ocamllex
 Stuff.
