Source: ocaml-json
Section: ocaml
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild,
 dh-ocaml (>= 0.9),
 ocaml-nox (>= 3.12),
 ocaml-findlib,
 libbaselib-ocaml-dev,
 libsexplib-camlp4-dev,
 camlp4-extra,
 menhir
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/json
Vcs-Git: git://github.com/pippijn/json
Vcs-Browser: https://github.com/pippijn/json

Package: libjson-camlp4-dev
Architecture: any
Depends:
 libjson-ocaml-dev,
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Recommends: ocaml-findlib
Description: JSON quotations for OCaml
 This syntax extension allows you to write JSON in OCaml code and will
 produce Yojson data structures.

Package: libjson-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: JSON parser for OCaml
 Alternative JSON parser producing Yojson data structures.
 .
 This package contains the shared runtime libraries.

Package: libjson-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Recommends: ocaml-findlib
Description: JSON parser for OCaml
 Alternative JSON parser producing Yojson data structures.
